{% extends 'base.html.twig' %}

{% block title %}Utilisateur{% endblock %}

{% block body %}
    {% include 'form/_show_theme.html.twig' with {
        title: 'Utilisateur',
        fields: [
            { label: 'Id', value: utilisateur.id },
            { label: 'Username', value: utilisateur.username },
            { label: 'Email', value: utilisateur.email },
            { label: 'Roles', value: utilisateur.roles ? utilisateur.roles|join(', ') : '' },
            { label: 'Password', value: utilisateur.password },
            { label: 'Is Active', value: utilisateur.isActive ? '<span class="badge bg-success">Yes</span>' : '<span class="badge bg-danger">No</span>' },
            { label: 'Nom', value: utilisateur.nom },
            { label: 'Prénom', value: utilisateur.prenom },
            { label: 'Date Naissance', value: utilisateur.datenaissance ? utilisateur.datenaissance|date('Y-m-d') : '' },
            { label: 'Diplôme', value: utilisateur.diplome }
        ],
        back_path: path('app_utilisateur_index'),
        edit_path: path('app_utilisateur_edit', {'id': utilisateur.id}),
     } %}
{% endblock %}
